
<aw-wizard>
  <aw-wizard-step class="mb-3" stepTitle="Eligibility Check" title="Step 1" stepNumber="1">
    <br />
    <br />
    <request-eligibility-form></request-eligibility-form>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="Member Details">

    <div>To Be Implemented</div>
  </aw-wizard-step>
  <aw-wizard-step  stepTitle="Meal Plan Selection">
    <div>To Be Implemented</div>

  </aw-wizard-step>
  <aw-wizard-step  stepTitle="Confirmation">
    <div>To Be Implemented</div>

  </aw-wizard-step>
</aw-wizard>
