
<div class="p-3 mt-3 details-form">
  <h4>Enter Member Details</h4>
  <p>Please enter member details bellow. These details will be used to perform eligibility checks. Details marked with * are required to complete this step.</p>
  <form class="container">
    <div class="row mb-3">
      <div class="col">
        <label>Agency <div class="requiredLabel">*</div></label>
        <input class="d-block w-100" />
      </div>
      <div class="col">
        <label>Member ID <div class="requiredLabel">*</div></label>
        <input class="d-block w-100" />
      </div>
      <div class="col">
        <label>Case Manager <div class="requiredLabel">*</div></label>
        <input class="d-block w-100" />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label>Referral Source <div class="requiredLabel">*</div></label>
        <select class="d-block w-100">
        </select>
      </div>
      <div class="col">
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
      </div>
      <div class="col">
        <button class="btn btn-primary">FIND MEMBER <mat-icon>search</mat-icon></button>
      </div>
    
      <div class="col">
      </div>
    </div>
     
</form>
</div>
